* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

.container {
    width: 89%;
    max-width: 1320px;
    margin: 0 auto;
}

.section-red {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.btn-primary {
    padding: 16px 32px;
    color: white;
    border: 0;
    border-radius: 8px;
    background: #F00;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.red-text {
    color: #F00;
}

.section-heading {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.section-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 22px;
}


header {
    margin-top: 45px !important;
}

/* Banner */

.banner {
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 170px 340px;
    border-radius: 16px;
}

.banner-text {
    text-align: center;
    color: #FFF;
}

.banner-heading {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 16px;
}

.banner-des {
    font-size: 72px;
    font-weight: 900px;
    line-height: 95px;
}

main section {
    margin-top: 120px;
}

/* Discount */

.discount {
    text-align: center;
}

.discount-number {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
}

.discount-heading {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

/* Party */

.midnight-party {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('images/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px;
    border-radius: 16px;
    display: flex;

}

.party-text {
    margin: 40px;
    color: #FFF;
    width: 700px;
}

.party-heading {
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-bottom: 24px;
}

.party-des {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}

.party .btn-primary {
    background-color: unset;
}

.party-img {
    width: 100%;
}

/* Place-date */

.place-date {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px;
    padding: 100px 380px;
    text-align: center;
}

.place-info{
    margin-bottom: 48px;
}

.first-line {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.second-line {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.third-line {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

/* best offer */

.best-offer {
    display: flex;
    align-items: center;
    gap: 50px;
}

.best-offer h3 {
    margin-bottom: 16px;
}


.best-offer-img {
    border: 15px solid #F00;
    padding: 35px;
    border-radius: 100%;
}

.best-offer-date {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

.best-offer .date-img {
    margin-top: 43px;
}

.best-offer .best-offer-des {
    width: 390px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
}

.red-text-one {
    color: #F00;
    font-size: 25px;
    font-weight: 700;
}

/* Holiday Sale */

.holiday-sale-text {
    text-align: center;
}

.holiday-sale .holiday-head {
    color: #070211;
}

.holiday-sale .section-heading {
    margin-bottom: 28px;
    font-size: 72px;
}

.holiday-sale .section-description {
    width: 75.76%;
    margin: 0 auto;
    margin-bottom: 64px;
}

.holiday-sale-pic {
    position: relative;
    height: 662px;
    
}

.holiday-sale-pic .rectangle2 {
    position: absolute;
    bottom: 0;
    right: 0;
    
}

.holiday-sale-pic .grp-75 {
    position: absolute;
    bottom: 0;
}

.holiday-sale-pic .rectangle1 {
    position: absolute;
    top: 0;
    right: 0;
    
}

.holiday-sale-pic .grp-44 {
    position: absolute;
    top: 64px;
    right: 256px;
}

.holiday-sale {
    margin-bottom: 110px;
}

/* Portfolio */

.portfolio-text {
    max-width: 896px;
    width: 67.87%;
    margin-bottom: 48px;
    color: #F00;

}

.portfolio {
    width: 103%;  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 14px;
   
}

.portfolio-item img {
    border-radius: 16px;
}


/* Newsletter */

.newsletter {
    padding: 80px 210px;
    text-align: center;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.newsletter img {
    margin-bottom: 40px;
}

.newsletter .section-description {
    margin-bottom: 48px;
}

.subscribe {
    position: relative;
    display: flex;
    align-items: stretch;
    margin: 0 auto;
    width: 740%;
    max-width: 648px;
}

.subscribe input[type="email"] {
    padding: 25px 30px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    border: 0;
    border-radius: 50px 0px 0px 50px;
    flex: 1 1 auto;
}

.subscribe input[type="email"]:focus {
    outline: 1px solid #F00;
}

.subscribe- input[type="email"]::placeholder {
    color: rgba(7, 2, 17, 0.30);
}

.subscribe input[type="submit"] {
    padding: 24px 56px;
    color: #fff;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: 0;
    cursor: pointer;
}

/* Section */

footer {
    margin-top: 120px;
    background-color: #070211;
    font-family: Inter;
    padding: 120px;
    color: white;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px
}

footer hr{
    border: 1px solid rgba(255, 255, 255, 0.15);
}

/* Contact */

.contact {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.contact-one{
    width: 375px;
}

/* Social */

.social{
    margin: 48px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 24px;
}

/* last part */

.last{
    justify-content: space-between;
    display: flex;
    margin-top: 50px;
}
